<div class="blank-global-container" id="blank-delete"  data-action="login" style="display: none; backdrop-filter: blur(4px) saturate(150%) brightness(60%); {{ styleconfp }}">
<div class="wrapper-blank">
    <div class="close-btn" id="wrapper-blank-close-btn-delete">⨯</div>
    <h1>Уверены, что хотите удалить курс?</h1>
                <div style="left: auto;display: flex;justify-content: space-around;">
                    <button type="submit" id="blank-delete-yes" name="delete_course" value="yes" class="btn" style="width: 35%">Удалить</button>
                    <button type="submit" id="blank-delete-no" class="btn" style="width: 35%">Сохранить</button>
                </div>
</div>
</div>
