{% extends 'index.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'dist/scss/chat.css'%}">
<link rel="stylesheet" href="{% static 'dist/scss/wrapper-blank.css'%}">
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}



{% block content %}
<div class="blank-global-container" style="position: inherit; background-image: url('https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg?t=st=1686950979~exp=1686951579~hmac=2c9c70a24bea4d4196297c64e44526ceda26ce5d09203cd56a6cb02e5736bd5e');">
  <div class="wrapper-blank" style="max-width: 800px;width: 720px;padding-top: 20px;margin-top: 20px;box-shadow: 0px 0.6rem 0.6rem rgba(0,0,0,0.1) !important;">
    <div class="close-btn" id="wrapper-blank-close-btn" onclick="window.location.href = '{% url 'management:lessons_list' course_id %}'">⨯</div>
        <h1>{{ page_label }}</h1>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.title.id_for_label }}">Заголовок:</label>
                {{ form.title }}
            </div>
            <div class="form-group">
                <label for="{{ form.start_date.id_for_label }}">Дата начала:</label>
                {{ form.start_date }}
            </div>
            <div class="form-group">
                <label for="{{ form.start_time.id_for_label }}">Время начала:</label>
                {{ form.start_time }}
            </div>
            <div class="form-group">
                <label for="{{ form.material.id_for_label }}">Материал урока:</label>
                {{ form.material }}
            </div>
            <button class="btn" type="submit">Сохранить</button>
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
{% endblock %}