{% extends 'index.html' %}

{% block title %}
{{ page_label }}
{% endblock %}

{% block page_label %}
{{ page_label }}
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="blank-global-container" style="position: inherit;background-image: url('https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg?t=st=1686950979~exp=1686951579~hmac=2c9c70a24bea4d4196297c64e44526ceda26ce5d09203cd56a6cb02e5736bd5e');">
  <div class="wrapper-blank" style="max-width: max-content;width: max-content;padding-top: 20px;margin-top: 20px;box-shadow: 0px 0.6rem 0.6rem rgba(0,0,0,0.1) !important;">

    <h2>Все пользователи</h2>
      <input type="text" id="search-input" name="search" placeholder="Поиск" value="{{ request.GET.search }}">
<form method="post">
  {% csrf_token %}
   {{ formset.management_form }}
  <table id="user-table">
    <tr>
      <th>Логин пользователя</th>
      <th>Email пользователя</th>
      <th>Кошелек пользователя</th>
      <th>Ментор/студент</th>
      <th>Стаф</th>
      <th>Суперюзер</th>
    </tr>
    {% for form in formset %}
 <tr class="user-row">
            <td>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.id }}
                 {{ form.prefix }}-{{ form.username }}
              </span>
            </td>
            <td>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.email }}
              </span>
            </td>
            <td>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.wallet }}
              </span>
            </td>
            <td>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.is_mentor }}
                <label id="mentor" for="{{ form.is_mentor.id_for_label }}">Ментор</label>
              </span>
            </td>
            <td hidden>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.is_student }}
              </span>
            </td>
            <td>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.is_staff }}
                <label for="{{ form.is_staff.id_for_label }}">Стаф</label>
              </span>
            </td>
            <td>
              <span class="past-lesson form-prefix">
                 {{ form.prefix }}-{{ form.is_superuser }}
                <label for="{{ form.is_superuser.id_for_label }}">Суперюзер</label>
              </span>
            </td>
          </tr>
        {% endfor %}
      </table>
      <button class="btn" type="submit">Применить</button>
    </form>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('search-input');
    const userTable = document.getElementById('user-table');
    const userRows = userTable.getElementsByClassName('user-row');

    function filterUsers() {
        const searchText = searchInput.value.toLowerCase();

        for (let i = 0; i < userRows.length; i++) {
            const userRow = userRows[i];
            const username = userRow.cells[0].querySelector('.past-lesson input[type="text"]').value.toLowerCase();
            const email = userRow.cells[1].querySelector('.past-lesson input[type="email"]').value.toLowerCase();
            console.log(userRow.cells[3].querySelector('.past-lesson label').innerHTML.toLowerCase());
            const mentor = userRow.cells[3].querySelector('.past-lesson label').innerHTML.toLowerCase();
<!--            const staff = userRow.cells[5].querySelector('.past-lesson label').innerHTML.toLowerCase();-->
<!--            const superuser = userRow.cells[6].querySelector('.past-lesson label').innerHTML.toLowerCase();-->

            if (
                username.includes(searchText) ||
                email.includes(searchText) ||
                mentor.includes(searchText) ||
                staff.includes(searchText) ||
                superuser.includes(searchText)
            ) {
                userRow.style.display = '';
            } else {
                userRow.style.display = 'none';
            }
        }
    }

    searchInput.addEventListener('input', filterUsers);

    const mentorCheckboxes = document.getElementsByClassName('mentor-checkbox');

    for (let i = 0; i < mentorCheckboxes.length; i++) {
      const mentorCheckbox = mentorCheckboxes[i];
      const roleLabel = mentorCheckbox.nextElementSibling;

      mentorCheckbox.addEventListener('change', function() {
        if (mentorCheckbox.checked) {
          roleLabel.textContent = 'Ментор';
        } else {
          roleLabel.textContent = 'Студент';
        }
      });

      if (mentorCheckbox.checked) {
        roleLabel.textContent = 'Ментор';
      } else {
        roleLabel.textContent = 'Студент';
      }
    }
  });
</script>
{% endblock %}