{% extends 'index.html' %}

{% block title %}
О нас
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}

<style>
    html, body {
        background-image: url('https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg?t=st=1686950979~exp=1686951579~hmac=2c9c70a24bea4d4196297c64e44526ceda26ce5d09203cd56a6cb02e5736bd5e');
        background-repeat: repeat;
        background-size: cover;
        color: black;
        min-height: 100vh;
        font-size: 18px;
    }

    .courses-base {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .courses-content {
        width: 800px;
        padding: 40px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
        color: black;
    }

    .section {
        margin-bottom: 40px;
    }

    .section-heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        color: black;
    }

    .section-content {
        text-align: left;
        color: black;
    }

    .contact-section {
        margin-top: 40px;
    }

    .contact-section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .contact-section ul li {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 10px;
        font-weight: bold;
        color: black;
    }

    .graduate-list li {
        margin-bottom: 20px;
        color: black;
    }

    .graduate {
        display: flex;
        align-items: center;
        color: black;
    }

    .graduate-avatar img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .graduate-details h3 {
        font-size: 18px;
        margin-bottom: 5px;
        color: black;
    }

    .graduate-details p {
        font-size: 16px;
        color: black;
    }
</style>
<div class="courses-base">
    <div class="courses-content">
        <h1>Добро пожаловать в Online School</h1>
        <p>Мы являемся ведущей IT-школой, специализирующейся на предоставлении качественного образования и профессиональных навыков в сфере информационных технологий.</p>
        <p>Наша миссия - помочь студентам достичь успеха в сфере IT, предоставляя высококлассные образовательные программы, опытных преподавателей и современные технологии.</p>
        <div class="section">
            <h2 class="section-heading">Бывшие студенты</h2>
            <div class="section-content">
                <p>Мы гордимся нашими бывшими студентами, которые достигли успеха в IT-индустрии. Они трудятся в ведущих международных компаниях и продолжают развиваться в своей карьере.</p>
                <p>Примеры наших выпускников:</p>
                <ul class="graduate-list">
                    <li>
                        <div class="graduate">
                            <div class="graduate-avatar">
                                <img src="/static/dist/img/PNG/student1.jpg" alt="Иван Смирнов">
                            </div>
                            <div class="graduate-details">
                                <h3>Иван Смирнов</h3>
                                <p>Разработчик Python в Google</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="graduate">
                            <div class="graduate-avatar">
                                <img src="/static/dist/img/PNG/student2.jpg" alt="Анна Иванова">
                            </div>
                            <div class="graduate-details">
                                <h3>Анна Иванова</h3>
                                <p>Веб-разработчик в Amazon</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="graduate">
                            <div class="graduate-avatar">
                                <img src="/static/dist/img/PNG/student3.jpg" alt="Максим Петров">
                            </div>
                            <div class="graduate-details">
                                <h3>Максим Петров</h3>
                                <p>Программист C++ в Microsoft</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
            <div class="section">
        <h2 class="section-heading">Достижения</h2>
        <div class="section-content">
            <p>Мы гордимся своими достижениями и признанием в IT-сообществе. Некоторые из наших достижений:</p>
            <ul>
                <li>Награда "Лучшая IT-школа года" от журнала "IT Excellence"</li>
                <li>Более 1000 выпускников, успешно трудящихся в крупных IT-компаниях</li>
                <li>Партнерство с ведущими технологическими компаниями, такими как Google, Microsoft, Amazon</li>
                <li>Публикация научных статей и исследований в известных журналах и конференциях</li>
            </ul>
        </div>
    </div>

    <div class="contact-section">
        <h2>Если у вас есть вопросы или вы хотите узнать больше о нас, свяжитесь с нами:</h2>
        <ul>
            <li>Телефон: +375 (44) 741-56-89</li>
            <li>Email: norepy.onlinecourses@gmail.com</li>
            <li>Адрес: г. Минск, ул. Примерная, д. 123</li>
        </ul>
    </div>
</div>
</div>
{% endblock %}





