<div class="blank-global-container" id="reg-blank-payconf"  data-action="login" style="display: none; backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%) brightness(60%); {{ styleconfp }}">
<div class="wrapper-blank">
    <div class="close-btn" id="wrapper-blank-close-btn-payconf">⨯</div>
    <h1>Подтверждение оплаты</h1>
    <form class="wrapper-blank-form" method="post">
        {% csrf_token %}
        <div>
            <input type="hidden" name="confirm_payment" value="1">
            <input type="submit"  value="Подтвердить оплату" class="btn" style="width: 100%">
        </div>
      <div>
        <p>{{ error_message }}</p>
      </div>
    </form>
</div>
</div>
