{% extends 'index.html' %}

{% block title %}
Уроки по курсу
{% endblock %}

{% block page_label %}
Уроки по курсу {{ course.title }}
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="blank-global-container" style="position: inherit;background-image: url('https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg?t=st=1686950979~exp=1686951579~hmac=2c9c70a24bea4d4196297c64e44526ceda26ce5d09203cd56a6cb02e5736bd5e');">
  <div class="wrapper-blank" style="max-width: 800px;width: 720px;padding-top: 20px;margin-top: 20px;box-shadow: 0px 0.6rem 0.6rem rgba(0,0,0,0.1) !important;">

        <h2>Уроки по курсу {{ course.title }}</h2>
        <table>
            <tr>
                <th>Номер занятия</th>
                <th>Дата</th>
                <th>Название занятия</th>
            </tr>
            {% for lesson in lessons|dictsort:'start_date' %}
            <tr class="btn white" onclick="location.href='{% url 'chat_room' lesson.id %}'">
                <td>
                    <span class="{% if lesson.start_date|date:'Y-m-d' == now|date:'Y-m-d' %}current-lesson{% elif lesson.is_past_lesson %}past-lesson{% else %}future-lesson{% endif %}">
                    {{ forloop.counter }}
                    </span>
                <td>
                    <span class="{% if lesson.start_date|date:'Y-m-d' == now|date:'Y-m-d' %}current-lesson{% elif lesson.is_past_lesson %}past-lesson{% else %}future-lesson{% endif %}">
                        {{ lesson.start_date|date:'d.m.Y' }}
                    </span>
                </td>
                <td>
                    <span class="{% if lesson.start_date|date:'Y-m-d' == now|date:'Y-m-d' %}current-lesson{% elif lesson.is_past_lesson %}past-lesson{% else %}future-lesson{% endif %}">
                        {{ lesson.title }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>

    </div>

</div>
{% endblock %}
