{% extends 'index.html' %}
{% load static %}
{% block title %}
Уроки по курсу
{% endblock %}

{% block page_label %}
Уроки по курсу {{ course.title }}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'dist/scss/folderAnimation.css'%}">
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="block-base db" style="display: block;">
    <div class="course-detail-wrapper" style="height: 500px;">
    <div class="course-detail-texture-container" id="puzzleContainer" style="overflow: visible;"></div>
        <div class="course-detail-content">
    <div class="white-space hcd"></div>
        <div class="course-detail-rating ws-nw va ib">{{ course.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="" style="width:20px;height:15px;"></div>
        <div class="course-detail-title ib va"><h2>{{ course.title }}</h2></div>
        <div class="course-detail-difficulty">{{ course.difficulty }}</div>
        <div class="course-detail-technologies">{{ course.technologies }}</div>
        <div class="course-detail-shortdes">{{ course.short_des }}</div>
        <div class="course-detail-mentor">ментор курса: {{ course.mentor }}</div>
        <div class="course-detail-dos">Старт занятий с: {{ course.start_date }}</div>
            <div></div>
        </div>
        <div class="course-detail-folder-img" style="bottom: -90px;">
        <div class="folder-transparent" style="background-image: url(/media/{{ course.img }})"></div>
        </div>
</div>
  <div class="wrapper-blank" style="max-width: 800px;width: 720px;padding-top: 20px;margin-top: 20px;box-shadow: 0px 0.6rem 0.6rem rgba(0,0,0,0.1) !important;">
        <h2>Уроки по курсу {{ course.title }}</h2>
        <table>
            <tr>
                <th>Номер занятия</th>
                <th>Дата</th>
                <th>Название занятия</th>
            </tr>
            {% for lesson in lessons|dictsort:'start_date' %}
            <tr class="btn white" onclick="location.href='{% url 'chat_room' lesson.id %}'">
                <td>
                    <span class="{% if lesson.start_date|date:'Y-m-d' == now|date:'Y-m-d' %}current-lesson{% elif lesson.is_past_lesson %}past-lesson{% else %}future-lesson{% endif %}">
                    {{ forloop.counter }}
                    </span>
                <td>
                    <span class="{% if lesson.start_date|date:'Y-m-d' == now|date:'Y-m-d' %}current-lesson{% elif lesson.is_past_lesson %}past-lesson{% else %}future-lesson{% endif %}">
                        {{ lesson.start_date|date:'d.m.Y' }}
                    </span>
                </td>
                <td>
                    <span class="{% if lesson.start_date|date:'Y-m-d' == now|date:'Y-m-d' %}current-lesson{% elif lesson.is_past_lesson %}past-lesson{% else %}future-lesson{% endif %}">
                        {{ lesson.title }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
          <div class="wrapper-blank" style="max-width: 800px;width: 720px;padding-top: 20px;margin-top: 20px;box-shadow: 0px 0.6rem 0.6rem rgba(0,0,0,0.1) !important;">
              <div class="course-detail-title ib va"><h2>Отзывы курса</h2></div>
                  <div class="review">
                  <form method="post">
                    {% csrf_token %}
                <div class="reviews-user"><h3>{{ user }}:  {{ form.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="" style="width:20px;height:15px;"></h3></div>
                <div class="reviews-text">{{ form.text }}<button type="submit" class="btn">{{ form_save_btn }}</button></div>
                  </form>
              </div>
          {% for review in reviews %}
              {% if not review.user == user %}
    <div class="review">
        <div class="reviews-user"><h3>{{ review.user }}:  {{ review.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="" style="width:20px;height:15px;"></h3></div>
        <div class="reviews-text">{{ review.text }}</div>
    </div>
              {% endif %}
          {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}