{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div class="courses-base db">
<div class="course-detail-wrapper">
    <div class="course-detail-texture">
        <div class="course-detail-content">
    <div class="white-space hcd"></div>
        <div class="course-detail-rating ws-nw va ib">{{ course.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="" style="width:20px;height:15px;"></div>
        <div class="course-detail-title ib va"><h2>{{ course.title }}</h2></div>
        <div class="course-detail-difficulty">{{ course.difficulty }}</div>
        <div class="course-detail-technologies">{{ course.technologies }}</div>
        <div class="course-detail-shortdes">{{ course.short_des }}</div>
        <div class="course-detail-mentor">ментор курса: {{ course.mentor }}</div>
        <div class="course-detail-dos">Старт занятий с: {{ course.start_date }}</div>
            <div></div>
        </div>
        <div class="course-detail-folder-img"><img src="{{ course.img }}" alt="{{ course.course.img }}"></div>
        </div>

</div>
<div class="btn-reg-wrapper">
    <button class="btn-reg" onclick="scrollToAnchor('g-list');">Записаться</button>
</div>
<div class="white-space hcd"></div>
<div class="t-list-wrapper">
    <div class="courses-list-align">
    <div class="t-list-unit ib va transparent-box"><h2>Учиться просто</h2><hr><p>Мы не продаем курсы в записи, только live-общение и практика с ментором</p></div>
    <div class="t-list-unit ib va transparent-box"><h2>От 2 до 6 проектов</h2>
        <hr><p>В портфолио по окончании курса + диплом на английском языке</p></div>
    <div class="t-list-unit ib va transparent-box"><h2>Поиск работы</h2>
        <hr><p>Активная помощь в поиске первой работы как в СНГ, так и в ЕС</p></div>
        </div>
</div>
    <div class="white-space hcd"></div>
<div class="description-wrapper">
    <div class="description-content">
    {{ course.description }}
    </div></div>

<div class="white-space hcd"></div>
    <div class="t-list-wrapper">
    <div class="courses-list-align">
    <div class="t-container ib va transparent-box">
    <h1>Поможем получить твою первую работу в IT</h1>
    <p>Наш <b>карьерный центр</b> помогает с <b>профориетацией в IT</b>,<br> а также оказывает поддержку студентам, способствует их
        <br> трудоустройству в международные IT-компании и <br> занимается сопровождением в поиске работы за рубежом.</p>
        </div></div></div>
<div class="white-space hcd"></div>
<div class="t-list-wrapper">
    <div class="courses-list-align">
        <div class="t-list-skills transparent-box">
            <div class="t-list-skills-label ib va"><h2>Идеальное резюме</h2><p>Мы подскажем, как создать конкурентоспособное резюме и релевантное сопроводительное письмо, чтобы выделиться среди других кандидатов</p></div>
            <div class="t-list-skills-img ib va" style="background-image: url('/static/dist/img/SVG/photo.svg');"></div>
        </div>
        <div class="t-list-skills transparent-box">
            <div class="t-list-skills-label ib va"><h2>Профиль в LinkedIn</h2><p>Расскажем, как заполнить профессиональный профиль в LinkedIn, чтобы его начали замечать рекрутеры</p></div>
            <div class="t-list-skills-img ib va" style="background-image: url('/static/dist/img/SVG/LinkedIn.svg');"></div>
        </div>
        <div class="t-list-skills transparent-box">
            <div class="t-list-skills-label ib va"><h2>Подготовка к собеседованию</h2><p>Расскажем, из каких этапов состоит собеседование, а также научим презентовать себя и свои сильные стороны для его успешного прохождения</p></div>
            <div class="t-list-skills-img ib va" style="background-image: url('/static/dist/img/SVG/SoftSkills.svg');"></div>
        </div>
        <div class="t-list-skills transparent-box">
            <div class="t-list-skills-label ib va"><h2>Твоя работа в IT</h2><p>Отправим подготовленное резюме нашим партнёрам международным IT-компаниям и дождемся вместе с тобой твой первый оффер на работу мечты</p></div>
            <div class="t-list-skills-img ib va" style="background-image: url('/static/dist/img/SVG/__IT.svg');"></div>
    </div> </div>
</div>
    <div class="white-space hcd"></div>
    <div class="t-list-wrapper">
    <div class="courses-list-align">
    <div class="t-container ib va transparent-box">
        <h1>Оптимальные требования по мощности для вашего ПК:</h1>
        <ul>
            <li><b>ОС:</b> Windows 10+ / MacOS Sierra+ / Linux (Ubuntu)*</li>
            <li><b>Оперативная память:</b> от 4-8 Гб</li>
            <li><b>Видеокарта:</b> от 1 Гб</li>
            <p>*приоритетная операционная система для обучения</p>
        </ul>
        </div></div></div>
    <div class="white-space hcd"></div>
    <div class="g-list-wrapper" id="g-list">
        <div class="courses-list-align">
            <div class="g-list-unit ib va">
                <h2>Стоимость курса</h2>
                <h1>{{ course.price }} за весь курс</h1>
<!--                <h4>Или сразу, но дешевле -  за весь курс.</h4>
                <p>Стоимость в месяц указана при рассрочке на 12 месяцев. Подробную информацию по программам рассрочки и кредитования можно узнать у менеджеров.</p>-->
            </div>
    <div class="g-list-form ib va">
        <h2>Записаться на курс:</h2>
        <h3>Старт группы</h3>
        <p>{{ course.start_date }}</p>
        <h3>Дни занятий</h3>
        <p>{{ course.days_of_week }}</p>
        <h3>Кол-во занятий</h3>
        <p>{{ course.lessons_count }}</p>
        <button class="g-list-form-btn" {% if user.is_authenticated %} id="confirm_payment" {% else %} id="LOGIN-redirect" {% endif %}>Приобрести запись</button>


    </div>
        </div>
    </div>

    </div>
{% include "confirm_payment.html" %}
{% endblock %}
{% block script %}
<script src="/static/dist/js/courseDescAct.js"></script>
{% endblock %}
