{% extends 'index.html' %}

{% block title %}
Уроки по курсу
{% endblock %}

{% block page_label %}
Уроки по курсу {{ course.title }}
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}



{% block content %}
    <div class="courses-base wr" style="display:flex;">
        <div class="courses-list-wrapper jc-c">
            <div class="courses-list-align">
                <h2 style="color: black; text-align: center">Уроки по курсу {{ course.title }}</h2>
                <table>
                    <tr>
                        <th>Номер занятия</th>
                        <th>Дата</th>
                        <th>Название занятия</th>
                    </tr>
                    {% for lesson in lessons|dictsort:'start_date' %}
                    <tr>

                        <td>{{ forloop.counter }}</td>
                        <td>
                            <span style="color: black; {% if lesson.is_past_lesson %}background-color: gray;{% endif %}">
                                {{ lesson.start_date|date:'d.m.Y' }}
                            </span>
                        </td>

                        <td>
                            <a href="{% url 'chat_room' lesson.id %}">{{ lesson.title }}</a>

                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

