<div class="courses-base wr" style="display:flex;">
    <div class="courses-filter-wrapper">
           <select class="form__input" id="technology-filter">

   {% for tech in technology %}
    <option value="{{ tech }}">{{ tech }}</option>
  {% endfor %}
                 </select>
        <select class="form__input" id="difficulty-filter">
   {% for diffic in difficulty %}
    <option value="{{ diffic }}">{{ diffic }}</option>
  {% endfor %}
              </select>

    </div>
    <div class="courses-list-wrapper jc-c">
    <div class="courses-list-align">
        {% for x in courses %}
            {% if x not in request.user.courses.all or not request.user.is_authenticated %}
    <div class="courses-unit-wrapper ib va" data-technology="{{ x.technologies }}" data-difficulty="{{ x.difficulty }}">
        <div class="courses-unit-texture">
        <div class="courses-unit-rating ws-nw va">{{ x.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="/static/dist/img/PNG/icon/rating.png" class="icn"></div>
            <div class="courses-unit-title"><h2><strong>{{ x.title }}</strong></h2></div>
        <div class="courses-unit-a"><a href="{% url 'course_detail' x.id %}">Подробнее→ </a></div>
        <div class="courses-unit-difficulty">{{ x.difficulty }}</div>
        <div class="courses-unit-shortdes">{{ x.short_des }}</div>
        <div class="courses-unit-price">{{ x.price }}$</div>
        <div class="courses-unit-dos">Старт занятий с:<br> {{ x.start_date }}</div>
            </div>
    </div>
        {% endif %}
        {% empty %}
                <p>Нет доступных курсов</p>
        {% endfor %}
        </div>
    </div>
</div>
