<html lang="en"><head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
Online school
</title>
    <link rel="shortcut icon" type="image/png" sizes="96x96" href="/static/dist/img/PNG/icon/online_school.png">
   <link rel="stylesheet" href="/static/dist/scss/style.css">



</head>
<body>



<header class="header" id="header">
    <div class="logo-container ib va ws-nw" onclick="location.href='/';">
        <div class="logo-icon"></div>
        <div class="logo-label ib va jc-c">
            <p>online</p>
            <hr>
            <p>school</p>
        </div>
    </div>
    <div class="page-label ws-nw">Главная страница</div>

   <div class="nav-dropdown">

    <div data-action="profile" class="nav-username">vasa@gmail.com</div>

    <div class="m-a">☰</div>
    <div class="nav-dropdown-content" id="NAV">

        <div><p><a href="/personal_cabinet/">Личный кабинет</a></p></div>
        <div><p>Форум</p></div>
        <div><p>Контакты</p></div>
        <div data-action="logout" onclick="location.href='/logout_view/?next=/';"><p>Выйти из аккаунта</p></div>




    </div>
</div>

</header>



    <div class="white-space"></div>

<div class="courses-base wr" style="display:flex;">
    <div class="courses-filter-wrapper">
           <select class="form__input" id="technology-filter">


    <option value="Все технологии">Все технологии</option>

    <option value="Python">Python</option>

    <option value="C++">C++</option>

    <option value="Java">Java</option>

    <option value="C#">C#</option>

    <option value="Pascal">Pascal</option>

    <option value="Frontend">Frontend</option>

                 </select>
        <select class="form__input" id="difficulty-filter">

    <option value="Любая сложность">Любая сложность</option>

    <option value="Начинающий">Начинающий</option>

    <option value="Продвинутый">Продвинутый</option>

              </select>

    </div>
    <div class="courses-list-wrapper jc-c">
    <div class="courses-list-align">

    <div class="courses-unit-wrapper ib va" data-technology="Python, Frontend" data-difficulty="Начинающий">
        <div class="courses-unit-texture">
        <div class="courses-unit-rating ws-nw va">4.0<img src="/static/dist/img/PNG/icon/rating.png" alt="/static/dist/img/PNG/icon/rating.png" class="icn"></div>
            <div class="courses-unit-title"><h2><strong>WEB-разработчик</strong></h2></div>
        <div class="courses-unit-a"><a href="/3">Подробнее→ </a></div>
        <div class="courses-unit-difficulty">Начинающий</div>
        <div class="courses-unit-shortdes">с 0 до 99 уровня!</div>
        <div class="courses-unit-price">49.99$</div>
        <div class="courses-unit-dos">Старт занятий с:<br> July 7, 2023</div>
            </div>
    </div>

        </div>
    </div>
</div>


    <div>
    </div>

<script src="/static/dist/js/WebpImgPref.js"></script>
<script src="/static/dist/js/header.js"></script>

<script src="/static/dist/js/coursesFilter.js"></script>


</body></html>