

<header class="header" id="header">
    <div class="logo-container ib va ws-nw" onclick="location.href='{% url 'index' %}';">
        <div class="logo-icon"></div>
        <div class="logo-label ib va jc-c">
            <p>online</p>
            <hr>
            <p>school</p>
        </div>
    </div>
    <div class="page-label ws-nw">{{page_label}}</div>

   <div class="nav-dropdown">
       {% if user.is_authenticated %}
    <div data-action="profile" class="nav-username">{{ user.username }}</div>
    {% endif %}
    <div class="m-a">☰</div>
    <div class="nav-dropdown-content" id="NAV">
        {% if request.user.is_superuser%}
        <div onclick="location.href='{% url 'index' %}sDgT6wR7AaZbF4xU9gBcX0hJkL3qPmV6aWnD8eR9dYfU3kK1rN3sP0mCpJ5dG6h/'"><p>Админ панель</p></div>
        {% endif %}
        <div onclick="location.href='{% url 'index' %}'"><p>Главная страница</p></div>
        <div onclick="location.href='{% url 'courses_list' %}'"><p>Курсы</p></div>
        <div onclick="location.href='{% url 'about_us' %}'"><p>О нас</p></div>
        {% if user.is_authenticated %}
        <div onclick="location.href='{% url 'personal_cabinet' %}'"><p>Личный кабинет</p></div>
        {% if user.is_staff %}
        <div onclick="location.href='{% url 'management:course_list' %}'"><p>Настройки курсов</p></div>
        {% endif %}
        {% if user.is_staff %}
        <div onclick="location.href='{% url 'management:user_list' %}'"><p>Пользователи</p></div>
        {% endif %}
        <div data-action="logout" onclick="location.href='{% url 'logout_view' %}?next={{ request.path }}';"><p>Выйти из аккаунта</p></div>
        {% else %}
        <div id="LOGIN" data-action="login"><p>Авторизация</p></div>
        {% endif %}



    </div>
</div>

</header>
{% if user.is_authenticated %}
{% else %}
{% include "login.html" %}
{% endif %}