

<header class="header" id="header">
    <div class="logo-container ib va ws-nw">
        <div class="logo-icon"></div>
        <div class="logo-label ib va jc-c">
            <p>online</p>
            <hr>
            <p>school</p>
        </div>
    </div>
    <div class="page-label ws-nw">{{page_label}}</div>
<div class="nav-dropdown">
    <h3 class="m-a">Перейти</h3>
    <div class="nav-dropdown-content">
        <div><a href="#">Личный кабинет</a></div>
        <div><a href="#">Форум</a></div>
        <div><a href="{% url 'register' %}">Регистрация</a></div>
        <div><a href="#">Выйти из аккаунта</a></div>
    </div>
</div>

<!--        {% if user.is_authenticated %}-->
<!--        {% include "login.html" %}-->
<!--        <ul class="nav r-align v-size">-->
<!--        <li id="profile" data-action="profile">{{ user.username }}</li>-->
<!--        <li id="logout" data-action="logout" onclick="location.href='';">LOGOUT</li>-->
<!--        </ul>-->
<!--        {% else %}-->
<!--        <li id="login r-align v-size" data-action="login">LOGIN</li>-->
<!--        {% endif %}-->

</header>
