
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="shortcut icon" type="image/png" sizes="96x96" rel="icon" href="/static/dist/img/PNG/icon/online_school.png">
   <link rel="stylesheet" href="{% static 'dist/scss/style.css'%}">
    {% block style%}
    {% endblock%}

</head>
<body >
    {% block header%}
    {% endblock %}
    <div class="white-space"></div>
    {% block content %}
    {% endblock %}
    <div>
    </div>
</body>
<script src="/static/dist/js/WebpImgPref.js"></script>
<script src="/static/dist/js/header.js"></script>
{% block script %}
{% endblock %}

</html>