{% extends 'index.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block page_label %}
Личный кабинет
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}

{% block content %}
<div style="background-color: #f1f1f1; margin-bottom=0">
    <h1 style="color: black; text-align: center">Личный кабинет</h1>
    <h2 style="color: black;">Информация о пользователе:</h2>
    <p style="color: black;">Имя пользователя: {{ user.username }}</p>
    <p style="color: black;">Имя: {{ user.first_name }}</p>
    <p style="color: black;">Фамилия: {{ user.last_name }}</p>
    <p style="color: black;">Email: {{ user.email }}</p>
    <p style="color: black;">Номер телефона: {{ user.phone_number }}</p>
</div>
    <div class="courses-base wr" style="display:flex;">
    <h2 style="color: black;">Мои курсы:</h2>
    <div class="courses-list-wrapper jc-c">
        <div class="courses-list-align">
            {% for course in courses %}
            <div class="courses-unit-wrapper ib va" data-technology="{{ course.technologies }}" data-difficulty="{{ course.difficulty }}">
                <div class="courses-unit-texture">
                    <div class="courses-unit-rating ws-nw va">{{ course.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="/static/dist/img/PNG/icon/rating.png" class="icn"></div>
                    <div class="courses-unit-title"><h2><strong>{{ course.title }}</strong></h2></div>
                    <div class="courses-unit-a"><a href="{% url 'course_lessons' course.id %}">Перейти к занятиям →</a></div>
                    <div class="courses-unit-difficulty">{{ course.difficulty }}</div>
                </div>
            </div>
            {% empty %}
            <p>Нет доступных курсов</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}





