{% extends 'index.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block page_label %}
Личный кабинет
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}


{% block content %}
<div class="block-base">
<div class="courses-base" style="display:flex;height: max-content; min-height: max-content;">
 <div class="personal-calendar-align">
<table class="personal-calendar" id="calendar">
 <thead>
    <tr><td>‹<td colspan="5"><td>›
    <tr><td>Пн<td>Вт<td>Ср<td>Чт<td>Пт<td>Сб<td>Вс
  <tbody>
</table>
</div>
</div>
    <div class="courses-base" style="margin-bottom: 50px;display:flex;height: max-content;min-height: auto;">
<div class="courses-base" style="display:flex;width: calc(100% - 480px);min-height: auto;">
    <div class="courses-list-align">
    <h2 style="color: black; text-align: center">Ближайшие занятия</h2>
    {% for date, lessons in grouped_lessons.items %}
    <div class="date-unit-wrapper ib va">
        <h4> {{ date }}</h4>
        {% for lesson in lessons %}
        <div class="date-unit-lesson">
            <h2><a href="{% url 'chat_room' lesson.id %}">{{ lesson.title }}</a></h2>
            <h5>{{ lesson.start_time }}</h5>
        </div>
        {% endfor %}
    </div>
    {% empty %}
    <p>занятий нет</p>
    {% endfor %}
</div>
</div>
</div>

<div class="courses-base" style="display:flex;min-height: auto;">

    <div class="courses-base" style="width: calc(100% - 480px);min-height: auto;">
        <div style="width: 100%; height: 100%;justify-content: center;display: flex;">
        <div class="courses-list-wrapper jc-c">
            <div class="courses-list-align">
                                {% if request.user.is_mentor%}
                <h2 style="color: black; text-align: center">Ваши курсы:</h2>
                {% else %}
                <h2 style="color: black; text-align: center">Имеющиеся курсы:</h2>
                {% endif %}
                {% for course in user.courses.all %}
                <div class="courses-unit-wrapper ib va" data-technology="{{ course.technologies }}" data-difficulty="{{ course.difficulty }}">
                    <!--background: linear-gradient(1deg, #ffad5a47, #ffad5a);-->
                    <!--background: linear-gradient(1deg, #ffad5a7d, #ededed);-->
                    <div class="courses-unit-texture" style="background-image: url('/media/{{ course.img }}');"></div>
                        <div class="courses-unit-rating ws-nw va">{{ course.rating }}<img src="/static/dist/img/PNG/icon/rating.png" alt="/static/dist/img/PNG/icon/rating.png" class="icn"></div>
                        <div class="courses-unit-title"><h2 style="background-color: #ffffff00;"><strong>{{ course.title }}</strong></h2></div>
                        <div class="courses-unit-difficulty">{{ course.difficulty }}</div>
                         <div class="courses-unit-shortdes">{{ course.short_des }}</div>
                        {% if request.user.is_mentor%}<div class="courses-unit-a-management"><button onclick="location.href='{% url 'management:lessons_list' course.id %}'" class="btn" >🛠️</button></div>{% endif %}
                        <div class="courses-unit-a"><button onclick="location.href='{% url 'course_lessons' course.id %}'" class="btn">Перейти к занятиям →</button></div>
                </div>
                {% empty %}
                <p>Нет имеющихся курсов</p>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>


</div>
</div>
<div class="courses-filter-wrapper" style="left:0;">

<select class="form__input" id="technology-filter">

   {% for tech in technology %}
    <option value="{{ tech }}">{{ tech }}</option>
  {% endfor %}
                 </select>
        <select class="form__input" id="difficulty-filter">
   {% for diffic in difficulty %}
    <option value="{{ diffic }}">{{ diffic }}</option>
  {% endfor %}
              </select>

    </div>
<div class="courses-filter-wrapper" style="right:15px">

        <h3>Информация о пользователе:</h3>
        <p>Идентификатор: {{ user.username }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Номер телефона: {{ user.phone_number }}</p>
        <button id="edit-profile" class="btn">Редактировать профиль</button>
        {% if not request.user.is_mentor%}
        <h4>Кошелек:</h4>
        <p>Баланс: {{ user.wallet }}</p>
        <button id="edit-wallet" class="btn">Пополнить кошелек</button>
        {% endif %}
</div>


{% include "edit_profile.html" %}
{% include "wallet_replenishment.html" %}
{% endblock %}
{% block script %}
<script src="/static/dist/js/coursesFilter.js"></script>
<script src="/static/dist/js/personalCabinet.js"></script>
<script src="/static/dist/js/userEdit.js"></script>
{% endblock %}



