{% extends 'index.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block page_label %}
{{ title }}
{% endblock %}

{% block header %}
{% include "header.html" %}
{% endblock %}
{% block content %}
    <h1>Chat Room - Group {{ group.id }}</h1>

    <div id="messages">
        {% for message in messages %}
            <p>{{ message.text }}</p>
            <small>By {{ message.sender.username }} at {{ message.timestamp }}</small>
        {% endfor %}
    </div>

    <form id="message-form" method="POST" action="{% url 'send_message' group.id %}">
        {% csrf_token %}
        <input type="text" name="message_text">
        <button type="submit">Send</button>
    </form>
{% endblock %}
{% block script %}
<script src="/static/dist/js/wsChat.js"></script>
{% endblock %}
