{% extends 'index.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'dist/scss/chat.css'%}">
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}



{% block content %}
<div class="container">
    {% if lesson %}
    <div class="info">
        <h1 style="color: black;">Курсу {{ lesson.course_owner.title }}</h1>

        <ul style="color: black;">
            <li>{{ lesson.title }}</li>
            <li>{{ lesson.start_date }}</li>
            <li>{{ lesson.start_time }}</li>
            <pre class="summernote-content" style="color: black;">{{ lesson.material|safe }}</pre>
        </ul>
    </div>
    {% endif %}

    <div class="chat">
        <h2 class="chat-header">Комната сообщений</h2>
        <div id="chat-log"></div>
        <div id="chat-input-container">
            <textarea id="chat-input" rows="3"></textarea>
            <button id="chat-message-submit"></button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/dist/js/chat.js"></script>
{% endblock %}