{% extends 'index.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'dist/scss/chat.css'%}">
<link rel="stylesheet" href="{% static 'dist/scss/wrapper-blank.css'%}">
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}



{% block content %}
<div class="container">
    {% if lesson %}
    <div class="info">
        <h1>{{ lesson.title }}</h1>

        <ul>
            <li>{{ lesson.course_owner.title }}</li>
            <li>{{ lesson.start_date }}</li>
            <li>{{ lesson.start_time }}</li>
            <pre class="summernote-content">{{ lesson.material|safe }}</pre>
        </ul>
    </div>
    {% endif %}
</div>

<div class="chat" id="lobby-chat" style="display:none;">
    <div class="close-btn" id="chat-close-btn">⨯</div>
        <h2 class="chat-header">Комната сообщений</h2>
        <div id="chat-log"></div>
        <div id="chat-input-container">
            <textarea id="chat-input" rows="3"></textarea>
            <button id="chat-message-submit" class="chat-message-submit"></button>
        </div>
    </div>

<div class="chat" id="lobby-participants" style="display:none;">
<div class="close-btn" id="participants-close-btn">⨯</div>
        <h3 class="chat-header">Участники занятия:</h3>

        <div  class="chat-log" style="overflow-y: scroll;overflow-x: hidden; max-height: 200px;">
            <table class="form-group">
                  <tr><td>Email:</td></tr>
    {% for user in group.users.all %}
    <tr class="user-row">
        <td>
        <span class="future-lesson">
          {{ user.email }}
        </span>
      </td>
  </tr>
    {% empty %}
      <tr class="user-row"> <td>Нет участников</td>  </tr>
    {% endfor %}


</table>
</div>

  <!-- Форма для удаления участника -->
<form method="POST" action="{% url 'management:remove_participant' pk=group.course_owner_id %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="participant-email">Email участника:</label>
    <input type="email" id="participant-email" name="participant_email" required>
  </div>
  <button type="submit" class="btn">Удалить участника</button>
</form>

  <!-- Форма для добавления нового участника -->
<form method="POST" action="{% url 'management:add_participant' pk=group.course_owner.id %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="participant-email">Email участника:</label>
    <input type="email" id="participant-email" name="participant_email" required>
  </div>
  <button type="submit" class="btn">Добавить участника</button>
</form>
</div>
<button id="show-chat" class="side-btns">💬</button>
<!--<div id="show-participants" class="side-btns"><button>Управление участниками</button></div>-->
{% endblock %}

{% block script %}
<script type="text/javascript">
    const roomName = '{{ room_name }}';
    const user = '{{ user }}';

    // Функция для генерации случайного тёмного цвета
    function getRandomDarkColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    // Объект для хранения цветов пользователей
    const userColors = {};

    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const message = data.message;
        const author = data.author; // Получаем автора сообщения из данных

        // Получаем цвет пользователя из объекта userColors или генерируем новый цвет
        let userColor = userColors[author];
        if (!userColor) {
            userColor = getRandomDarkColor();
            userColors[author] = userColor;
        }

        const now = new Date();
        const hours = now.getHours();
        const minutes = now.getMinutes();
        const timestamp = hours + ':' + minutes;
        const messageWithTimestamp = '<div style="background-color: ' + userColor + '24; color: #000; padding: 1px 10px 1px 10px; border-radius: 8px; margin-bottom: 10px;filter: brightness(70%);">' +
            '<pre style="text-wrap: balance;"><strong style="color: ' + userColor + ';">' + author + '</strong>: ' + message + '</pre>' +
            '<p style="font-size: 12px; color: #888;">' + timestamp + '</p>' +
            '</div>';
        const chatLog = document.querySelector('#chat-log');
        chatLog.innerHTML += messageWithTimestamp;
        chatLog.scrollTop = chatLog.scrollHeight; // Прокручиваем чат вниз
    };

    document.querySelector('#chat-input').addEventListener('keyup', function(e) {
        if (e.key === 'Enter' && !e.shiftKey) {
            const messageInputDom = document.querySelector('#chat-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'author': user  // Отправляем имя автора сообщения
            }));
            messageInputDom.value = '';
        }
    });

    document.querySelector('#chat-message-submit').addEventListener('click', function(e) {
        const messageInputDom = document.querySelector('#chat-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'author': user  // Отправляем имя автора сообщения
        }));
        messageInputDom.value = '';
    });
makeLayer('lobby-chat','block', 'show-chat', 'chat-close-btn')
</script>
{% endblock %}