<!DOCTYPE html>
<html>
<head>
    <title>Новый курс на сайте</title>
</head>
<body>
    <h1>Уважаемый(ая) {{ user.first_name }},</h1>
    <p>Встречайте новый курс най сайте!</p>
    <p>Детали курса</p>
    <ul>
        <li> {{ course.title }}</li>
        <li> {{ course.shortdes }}</li>
        <li><strong>Mentor:</strong> {{ course.mentor.first_name }} {{ course.mentor.last_name }}</li>
        <li> {{ course.get_technology_display }}</li>
        <li> {{ course.get_difficulty_display }}</li>
        <!-- Add any other course details here -->
    </ul>
    <p>Вы также можете изучить другие курсы на нашем сайте! Найдется под любое направление</p>
    <p>А также не пропустите Ближайшие курсы!</p>
</body>
</html>