<!DOCTYPE html>
<html>
<head>
    <title>Новый курс на сайте</title>
</head>
<body>
    <h1>Уважаемый(ая) {{ user.first_name }},</h1>
    <p>Встречайте новый курс на сайте!</p>
    <p>Детали курса</p>
    <ul>
        <li> {{ course.title }}</li>
        <li> {{ course.short_des }}</li>
        <li><strong>Mentor:</strong> {{ course.mentor.first_name }} {{ course.mentor.last_name }}</li>
        <li> {{ course.technologies }}</li>
        <li> {{ course.difficulty }}</li>

    </ul>
    <p>Вы также можете изучить другие курсы на нашем сайте! Найдется под любое направление!</p>

</body>
</html>