<!DOCTYPE html>
<html>
<head>
    <title>Регистрация успешна</title>
</head>
<body>
    <h1>Дорогой пользователь, {{ user.first_name }}!</h1>
    <p>Добро пожаловать на наш сайт онлайн курсов! Мы рады приветствовать вас в нашем образовательном сообществе.

Здесь вы найдете множество интересных курсов по различным темам, которые помогут вам расширить свои знания и навыки. Наши опытные менторы и преподаватели всегда готовы поделиться своими знаниями и помочь вам достичь новых высот.

Не стесняйтесь задавать вопросы, общаться с другими студентами и делиться своим опытом. Мы уверены, что ваше участие в нашем сообществе сделает ваше обучение более интересным и продуктивным.

Успехов в обучении и пусть каждый пройденный курс приближает вас к достижению ваших целей!

С уважением,
Команда онлайн курсов</p>
<p>Ваш email: {{ user.email }}</p>
</body>
</html>